:root {
    /* CSS HEX */
    --dun: #d6cbb7ff;
    --carolina-blue: #7bb4d3ff;
    --charcoal: #344055ff;
    --hot-pink: #f564a9ff;
    --vermilion: #f24236ff;

    /* CSS HSL */
    --dun: hsla(39, 27%, 78%, 1);
    --carolina-blue: hsla(201, 50%, 65%, 1);
    --charcoal: hsla(218, 24%, 27%, 1);
    --hot-pink: hsla(331, 88%, 68%, 1);
    --vermilion: hsla(4, 88%, 58%, 1);
}


button.selected {
    background-color: #39b93996;
    border: 3px solid black;
}
button {
    margin-bottom: 1%;
}

body {
    /* make background gradients */
    background: radial-gradient(135deg, var(--dun), var(--charcoal), var(--carolina-blue), var(--hot-pink), var(--vermilion));
    background-repeat: repeat-x;
    color: var(--charcoal);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}